<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aust.mapper.ProductMapper" >
    <select id="get" parameterType="long" resultType="com.aust.vo.Product" >
        select * from product
        where productId = #{id}
    </select>
    <select id="list"  resultType="com.aust.vo.Product" >
        select * from product
    </select>

</mapper>